            body{
		    	font-family:"楷体";
		    	background-color:#8B008b;
		    }
		    
		    dialog{
				border:none;
				border-radius:20px;
				bottom:40%;
				
			}
			dialog::backdrop{
				background:rgba(0,0,0,.4);
				
			}
			.content{
				display:flex;
				width:300px;
				height:200px;
				border:none; 
			}
			.text{
				margin-left:20px;
				text-align: center;
			}
			h4{
				
				margin:8px;
			}
			.content img{
				width:40%;
				height:80%;
				margin-top:40px;
			}
			
			
		    .figures{
		    	height:142px;
		    	width:100px;
		    }
		    
		    
			.game-container{
				width:1250px;
				height:580px;
				margin:0;
				
			}
			.container1{
				display:flex;
				height:10%;
				
			}
			.title{
				width:10%;
				border-radius:2px;
				background-color:#E6E6FA;
			}
			.timeplace{
				margin-left:300px;
				width:20%;
				background-color:#E6E6FA;
				border-radius:4px;
				padding-left:6px;
			}
			.goal{
				margin-left:200px;
				width:22%;
				background-color:#E6E6FA;
				border-radius:4px;
				padding-left:6px;
			}
			
			.container2{
				
				display:flex;
				height:61%;
				margin-top:2%;
				margin-bottom:2%;
			}
			.figure-private{
				width:25%;
				background-color:#E6E6FA;
				border-radius:4px;
			}
			.inner{
				
				width:100%;
				
				position:relative;
				transform-style:preserve-3d;
				perspective:1000px;
				
			}
			.img{
				position:absolute;
				width:80%;
				
				margin-left:15px;
				border-radius:20px;
				box-shadow:0 0 15px rgb(0,0,0);
				backface-visibility: hidden;
				transition:2s;
			}
			.p2 img{
				position:absolute;
				width:100%;
				height:100%;
				border-radius:20px;
			}
			.p2{
				transform:rotateY(180deg);
			}
			.p2 p{
				font-size:x-small;
				margin:0;
			}
			.p1{
				background-color:purple;
				text-align:center;
				font-size:xx-large;
				
			}
			.scene{
				width:73%;
				 
			}
			.scene img{
				width:80%;
				height:100%;
				margin-left:60px;
			}
			.vote{
				
				width:73%;
				background-color:#E6E6FA;
				
				padding:60px;
				gap:80px;
				margin-left:50px;
				display:none;
			}
			
			.choice{
				background-color:#800080;
				border-radius:5px;
				transition:transform .2s ease;
				width:20%;
				
			}
			.choice:hover{
				transform:translateY(-4px);
				box-shadow:0 0 15px rgba(0,0,255,0.6);
			}
			.end1,.end2,.end3,.end4{
				margin-left:50px;
				background-color:#E6E6FA;
				width:73%;
				display:none;
				justify-content:center;
				align-items: center;
			}
			
			
			.container3{
				display:flex;
				height:30%;
				
			}
			
			
			.clues-area{
				width:90%;
				margin-left:5px;
				border-radius:6px;
				background-color:#E6E6FA;
			}
			.clues-list{
				display:flex;
				padding:0 10px;
				height:90%;
				gap:20px;
			}
			.clue{
				position:relative;
				transition:transform 0.3s ease;
				width:120px;
				height:96%
			}
			.character{
				width:10%;
				margin-left:10px;
			}
			.character img{
				width:100%;
				height:100%;
			}